

form {
  text-align: center;
}

button {
  margin-right: 10px;
  margin-top: 10px;
  background-color: grey;
}

button:hover {
  background-color: white;
}

.methods {
  margin-top: 10px;
}

.Display {
  float: left;
    margin-left: 100px;
    margin-top: 72px;
    background-color: #e0e0e0;
    width: 400px;
    height: 400px;
}

