.history {
  width: 400px;
  border: 1px solid #222;
  margin-left: 100px;
  margin-bottom: 20px;
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid black;
}

.th {
  width: 50px;
  border-right: 1px solid gray;
}
