.history {
  margin-left: 100px;
 margin-top: 40px;
  width: 400px;
  border: 1px solid #222;

  border-collapse: collapse;
}

th {
  border-bottom: 1px solid black;
}

.th {
  width: 50px;
  border-right: 1px solid gray;
}
